<h1>Test Custom NAVBAR </h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="background-color: white;">
    
    <ul class="nav  justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="123">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="123">Products</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="123">About us</a>
        </li>
         <li class="nav-item p"><a class="nav-link" href="#">Logout</a>
         </li>
            
    </ul>
</div>
</div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              
        </div>
    </div>
    
</div>